header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('2.jpg');
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navbar-brand {
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
}

.nav-link {
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.banner-text p {
    font-family: 'Poppins', sans-serif;
    color: #bdc3c7;
}

.banner-btn a {
    border: 1px solid #bdc3c7;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #bdc3c7;
}

.banner-btn a.active {
    background: #fc4a1a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7b733, #fc4a1a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f7b733, #fc4a1a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-color: #fed136;
    color: #000;
}

/*text animation*/
.text-area{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.text-area span{
    color: #DA4453;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 5s forwards;
}
.text-area span{
    display: inline-block;
}
.text-area span:nth-of-type(2){
    animation-delay: .1s;
}
.text-area span:nth-of-type(3){
    animation-delay: .2s;
}
.text-area span:nth-of-type(4){
    animation-delay: .3s;
}
.text-area span:nth-of-type(5){
    animation-delay: .4s;
}
.text-area span:nth-of-type(6){
    animation-delay: .5s;
}
.text-area span:nth-of-type(7){
    animation-delay: .6s;
}
.text-area span:nth-of-type(8){
    animation-delay: .7s;
}
@keyframes animate{
    30%{
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60%{
        transform: translate(0, 20px) rotate(0deg) scale(.8);
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

/*responsive css*/

@media (max-width:600px){
    .banner-text p{
        display: none;
    }
    
    .navbar-dark{
        background-color: #DA4453;
    }
    .text-area{
        font-size: 40px;
    }
}